# {{ ansible_managed }}

##############################################################################
#ACTION         SOURCE  DEST    PROTO   DEST    SOURCE  ORIGINAL        RATE    USER/
#                                       PORT    PORT(S) DEST            LIMIT   GROUP
{% for host in groups['ceph-servers'] %}
{% if host not in groups['services'] %}
{% if not hostvars[host]['ipv6_only'] %}
ACCEPT all:{{ hostvars[host]['ansible_default_ipv4']['address'] }} fw tcp 6789 # CEPH admin from {{ host }}
ACCEPT all:{{ hostvars[host]['ansible_default_ipv4']['address'] }} fw tcp 6800:7100 # CEPH from {{ host }}
{% endif %}
{% endif %}
{% endfor %}

