# {{ ansible_managed }}

##############################################################################
#ACTION         SOURCE  DEST    PROTO   DEST    SOURCE  ORIGINAL        RATE    USER/
#                                       PORT    PORT(S) DEST            LIMIT   GROUP
{% for host in groups['ceph-servers'] %}
{% if host not in groups['services'] %}
{% if 'ansible_default_ipv6' in hostvars[host] and hostvars[host]['ansible_default_ipv6']['scope'] == "global" %}
ACCEPT all:{{ hostvars[host]['ansible_default_ipv6']['address'] }} fw tcp 6789 # CEPH admin from {{ host }}
ACCEPT all:{{ hostvars[host]['ansible_default_ipv6']['address'] }} fw tcp 6800:7100 # CEPH from {{ host }}
{% endif %}
{% endif %}
{% endfor %}

# Ceph clients
{% for host in groups['ceph-clients'] %}
{% if 'ansible_default_ipv6' in hostvars[host] and hostvars[host]['ansible_default_ipv6']['scope'] == "global" %}
ACCEPT all:{{ hostvars[host]['ansible_default_ipv6']['address'] }} fw tcp 6789
ACCEPT all:{{ hostvars[host]['ansible_default_ipv6']['address'] }} fw tcp 6800:7100
{% endif %}
{% endfor %}

# Whitelist
{% for whitelist_ip in whitelist_ip6s %}
ACCEPT all:[{{ whitelist_ip }}] fw tcp 6789
ACCEPT all:[{{ whitelist_ip }}] fw tcp 6800:7100
{% endfor %}
